body{
    margin: 0;
}

header{
    height: 600px;
    background-image: url(/img/header.png);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
    color: #fff4b2;
    padding: 20px 100px 0 50px; 
    
}

.nav-logo{
    height: 350px;
    display: flex;
    position: absolute;
   
    
}

.logo{
    height: 100px;
    width: 100px;
    background-image: url(/img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
}
.nav{  
    text-decoration: none;
    height: 100px;
    width: 400px;
    padding-top: 20px;
    margin-left: 750px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

:link{
    text-decoration: none;
    color: #fff4b2;
}
.great-taste{
    height: 50px;
    width: 430px;
    border: 1px dotted #fff4b2;
    text-align: center;  

}

h1{ 
   margin-top: 0;
   margin-bottom: 0;
   font-size: 100px;
}


.words-container{
    margin-top: 200px;
    margin-left: 50px;

}
h4{
    font-size: 70px;
    margin-top: -20px;
    
}

.second-div{
    height: 700px;
    display: flex;
    padding: 50px 150px 0 150px;

}
.right{
    height: 500px;
    width: 50%;
    background-image: url(/img/Ads.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
    padding-right: 25px;
}
.left{
    height: 500px;
    width: 50%;
    padding-left: 25px;
}
.top{
    height: 240px;
    background-image: url(/img/Ads\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    margin-bottom: 30px; 
   
}

.bottom{
    height: 240px;
    background-image: url(/img/Ads2.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    margin-top: 30px; 
}
.third-div{
    height:700px ;
    display: flex;
    padding: 50px 150px 0 150px;
    justify-content: center;
    text-align: center;
}
.third{
    height: 40%;
    width: 30%;
}
.third-one{
    background-image: url(/img/burger1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin-right: 50px;
}
.third-two{
    background-image: url(/img/burger2.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
 
}
.third-three{
    background-image: url(/img/burger1.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    margin-left: 50px;
}
.before-third{
    text-align: center;
    margin: 0;
}

.always{
    background-color: orange;
    display: inline;
    border: none;
    width: 200px;
    height: 35px;
}

.enjoy{
    font-size: 50px;
    padding-top: 30px;
}
h3{
    font-size: 25px;
    padding-top: 280px;
    text-align: center;
}
.order{
    width: 200px;
    height: 50px;
    text-align: center;
    color: white;
    margin-left: 90px;

}
.btn{
    background-color: red;
    border: none;
    color: white;
    height: 50px;
    width: 150px;

}

.fourth-div{
    height: 400px;
    justify-content: center;
    background-size: cover;
   
}
.top-fourth{
    height: 300px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.22);

}

.fourth-right{
    width: 500px;
    height: 100%;
    padding-left: 20px;
   
   
}

.fourth-left{
    width: 500px;
    height: 100%;
    background-image: url(/img/Ads.jpg); 
    background-size: cover;

    
}
.top-fourth h1{
    font-size: 40px;
 
}
.fifth-div{
    height: 600px;
    background-image: url(/img/event-bacground.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid paleturquoise;   
     display: flex;
     justify-content: center;
     align-items: center;

}
.form-div{
    height: 300px;
    align-items: center;
  
}

input{
    padding: 20px 60px;
    margin: 10px 20px;
    border-radius: 5px;
}

.table{
    height: 60px;
    width: 290px;
    color: white;
    background-color: #9c1518;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
}